table {
  border-collapse: collapse;
  border: 2px solid rgb(100, 100, 100);
}
.big {
  display: flex;
  flex-wrap: wrap;
  width: 249px;
  height: 249px;
}
.small {
  display: flex;
  flex-wrap: wrap;
  width: 81px;
  height: 81px;
  border-collapse: collapse;
  border: 1px solid;
}
